DJANGO_SECRET_KEY=gere-uma-chave-local-e-nao-envie-ao-github
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=use-a-mesma-senha-do-mysql-local

DB_USUARIOS_NAME=usuarios
DB_ADMIN_NAME=admin
DB_LIVROS_NAME=livros
